{% extends 'user/base.html' %}
{% load static %}
{% block title %} Login {% endblock %}
{% block extrastylesheet %}
<link rel="stylesheet" href="{% static 'user/css/login_signup.css' %}">
{% endblock %}
{% block content %}
<div class="main_div">
	<form class = "form_main" method="POST" action="{% url 'login' %}">
		{% csrf_token %} 
	
		
		<div class="form-holder login-form active" data-step="1">
			<h1 class="form-title">Login</h1>
			
			<div class="form">
				<div class="sign_subform">
					<div class="signup_input"><input class="input input-login input-login-form1 mt-3" type="text" placeholder="Username" name="username" >
					</div>
					<div class="signup_input"><input class="input input-login input-login-form4 mt-3" type="password" placeholder="Password" name="password" ></div>
				
				
				
				
				
					<button type="submit" class="submit  form_2_submit submit_button">Login</button>
				
					
				</div>
				<div style="display: flex; justify-content: center; align-items: center; margin-top: 10px;">
					<span style="margin-right: 2px">Don't Have an account? </span><a href="{% url 'register' %}"> Signup</a>
				</div>
				
			</div>
		</div>
		
	</form>

</div>
	

		
		
{% endblock %}