{% extends 'user/base.html' %}
{% load static %}
{% block title %} Signup {% endblock %}
{% block extrastylesheet %}
<link rel="stylesheet" href="{% static 'user/css/login_signup.css' %}">
{% endblock %}
{% block content %}
<div class="page--header pt--60 pb--60 text-center bg--img" data-overlay="0.85" data-rjs="2" style="background-image: url('../static/img/bg.jpg')";>
	<div class="container" style="margin-top: 48px;">
		<div class="title">
			<h2 class="h1 text-white">Create Your Account</h2>
		</div>
  
	   
	</div>
</div>
	
<div class="main_div">
	<form class = "form_main" method="POST" action="{% url 'register' %}">
		{% csrf_token %} 
	
		
		<div class="form-holder login-form active" data-step="1">
			<h1 class="form-title">SignUp</h1>
			
			<div class="form">
				<div class="sign_subform">
					<div class="signup_input"><input class="input input-login input-login-form1 mt-3" type="text" placeholder="Username" name="username" >
					</div>
					<div class="signup_input"><input class="input input-login input-login-form2 mt-3" type="text" placeholder="Full Name" name="name" ></div>
					<div class="signup_input"><input class="input input-login input-login-form3 mt-3" type="email" placeholder="Email" name="email" ></div>
					<div class="signup_input"><input class="input input-login input-login-form4 mt-3" type="password" placeholder="Password" name="password" ></div>
				
				
				
				
				
					<button type="submit" class="submit  form_2_submit submit_button">SignUp</button>
				
					
				</div>
				<div style="display: flex; justify-content: center; align-items: center; margin-top: 10px;">
					<span style="margin-right: 2px">Already Have an account? </span><a href="{% url 'login' %}"> Login</a>
				</div>
				
			</div>
		</div>
		
	</form>

</div>
        
		
{% endblock %}